.boton {
    background: #4CAF50;
    width: 50%;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 1%;
    padding: 10px;

}
.boton:hover{
    background-color: #4CAF50; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.contenedorboton{
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    
}

.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}